*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image{
    width: auto;
    height: 60%;
    border-radius: 10px;
}
@font-face {
    font-family: Outfit;
    src: url("./fonts/Outfit-Regular.ttf");
}
body{
    display: flex;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    height: 100vh;
}
#container
{
    width: 230px;
    height: 370px;
    border-radius: 15px;
    margin: 10% auto;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    font-family: Outfit,sans-serif;
}
.below{
    margin-top: 10px;
    text-align: center;
}
#below-one{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 15px;
}
#below-two{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: small;
}