*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image{
    width: auto;
    height: 60%;
    border-radius: 10px;
    margin-left: 0px
}
@font-face {
    font-family: Outfit;
    src: url("./fonts/Outfit-Regular.ttf");
}
body{
    display: flex;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    height: 100vh;
}
.container
{
    width: 230px;
    height: 370px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    font-family: Outfit,sans-serif;
}
.below{
    margin-top: 10px;
    text-align: center;
    height: 35%;
}
.below-one{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 17px;
    height: auto;
}
.below-two{
    color: hsl(220, 15%, 55%);
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    height: 50%;
}
@media(max-width: 720px){
    .container{
        width: 270px;
        height: 420px;
    }
    .below{
        margin-top: 10px;
        height: 35%;
    }
    .below-one{
        font-size: 20px;
    }
    .below-two{
        font-size: 15px;
    }
    .image{
        margin-left: 5px;
    }
}