* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fl{
    display: flex;
}
html, body{
    height: 100%;
}
.font1{
    font-family: 'Open Sans', sans-serif;
}
.font2{
    font-family: 'Poppins', sans-serif;
}
.bigbold{
    font-size: 30px;
    font-weight: 600;
}
body{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: white;
}
.container{
    height: 65vh;
    width: 80vw;
    margin: 0 auto;
    transform: translate(0%,35%);
}
.logo{
    width: 100%;
    height: 100%;
}
.logo-container{
    width: 15%;
    height: 15%;
    transform: translate(30%, -160%);
    position: absolute;
}
.mockup{
    width: 80%;
}
.mockup img{
    width: 90%;
    height: 100%;
    margin-left: 8%;
}
.content{
    width: 50%;
    flex-direction: column;
    font-size: 13px;
    height: 100%;
    margin-left: 20px;
}
.header{
    margin-top: 8%;
    width: 90%;
    line-height: 40px;
    height: 25%;
}
.desc{
    margin-top: 2%;
    width: 100%;
}
#violet{
    color: hsl(0, 0%, 90%);
}
.btn{
    margin-top: 8%;
    height: 10%;
}
.btn a{
    text-decoration: none;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 15px;
    font-weight: 400;
    background-color: hsl(0, 0%, 97%);
    border-radius: 40px;
    text-align: center;
    color: hsl(257, 40%, 49%);
    box-shadow: 3px 3px 5px 7px hsl(257, 40%, 45%);
}
.btn a:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 95%);
}
.links{
    width: 50%;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(120%,290%);
    font-size: 20px;
}
.fa-facebook, .fa-twitter,.fa-instagram{
    background: transparent;
    color: white;
}
 .fa-facebook:hover, .fa-twitter:hover,.fa-instagram:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
@media (max-width: 720px){
    html{
        scroll-behavior: smooth;
    }
    body{
        background-image: url(./images/bg-mobile.svg);
        /* width: 100vw; */
    }
    .container{
        transform: translate(0%,0%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* min-width: 375px; */
        height: 100vh;
        width: 100vw;

    }
    .header{
        width: 290px;
        height: 80px;
        line-height: 35px;
        text-align: center;
        /* margin-bottom: 5px; */
        margin: 0 auto;
    }
    
    .bigbold{
        font-size: 27px;
        font-weight: 600;
    }
    .logo{
        width: 90%;
        height: 90%;
        /* transform: translate(10%,55%); */
    }
    .logo-container{
        width: 50%;
        height: 10%;
        transform: translate(-45%,-420%);
    }
    .mockup{
        height: 40%;
        width: 90%;
        margin-top: 35%;
    }
    .mockup img{
        width: 100%;
        margin: 0 auto;
    }
    .content{
        margin-top: 10%;
        width: 100%;
        height: 60%;
        flex-direction: column;
        font-size: 15px;
        margin-left: 0px;
        margin-bottom: 0%;
        padding: 10px;
    }
    .desc{
        text-align: center;
        width: 100%;
        height: 38%;
        font-size: 20px;
        margin: 0 auto;
    }
    .btn{
        text-align: center;
    } 
    .btn a{
        padding-left: 90px;
        padding-right: 90px;
        font-size: 20px;
        font-weight: 500;
    }
    .links{
        width: 40%;
        transform: translate(75%,100%);
        justify-content: space-evenly;
        font-size: 15px;
        margin-top: 0px;
    }
    
}
@media (max-width: 375px){
    .btn{
        transform: translate(0%,30%);
    }
    .content{
        margin-top: 0px;
    }
    .desc{
        font-size: 16px;
        height: 43%;
    }
    .btn a{
        padding-left: 60px;
        padding-right: 60px;
        font-size: 18px;
        font-weight: 500;
    }
    .links{
        margin-top: 15px;
    }
}