* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fl{
    display: flex;
}
.bdr{
    border: 1px solid black;
}
.bdrw{
    border: 1px solid white;
}
.bdry{
    border: 3px solid yellow;
}
.font1{
    font-family: 'Open Sans', sans-serif;
}
.font2{
    font-family: 'Poppins', sans-serif;
}
.bigbold{
    font-size: 31px;
    font-weight: 600;
}
body{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: white;
    flex-direction: column;
}
.container{
    height: 65vh;
    width: 80vw;
    margin-top: 8%;
    margin-left:9.5%;
}
.logo{
    width: 15%;
    height: 25%;
    transform: translate(10%,10%);
}
.logo-container{
    width: 70%;
    height: 20%;
    transform: translate(16%, 120%);
}
.mockup{
    width: 80%;
    justify-content: center;
}
.mockup img{
    width: 90%;
    height: 100%;
}
.header{
    width: 80%;
    line-height: 50px;
}
.content{
    width: 40%;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 5%;
}
#violet{
    color: hsl(0, 0%, 90%);
}
.short{
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn button{
    /* background: transparent; */
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    color: hsl(257, 40%, 49%);
    box-shadow: 3px 3px 5px 7px hsl(257, 40%, 45%);
}
.btn button:hover{
    background-color: hsl(300, 69%, 71%);
}

.links{
    width: 10%;
    transform: translate(800%,10%);
    justify-content: space-evenly;
}

.fa-facebook, .fa-twitter,.fa-instagram{
    background: transparent;
    color: white;
}
.fa-facebook:hover, .fa-twitter:hover,.fa-instagram:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media (max-width: 720px){
    body{
        background-image: url(./images/bg-mobile.svg);
        justify-content: center;
        align-items: center;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 375px;
        height: 90vh;
        width: auto;
        margin: 0 auto;
        transform: translate(0%, -1%);
        /* margin-right: 22%; */
        
    }
    .header{
        width: 80%;
        height: 20%;
        line-height: 35px;
        text-align: center;
        margin-bottom: 5px;
    }
    .short{
        align-items: center;
    }
    .btn button{
        transform: translate(75%,0%);
    }
    .bigbold{
        font-size: 24px;
        font-weight: 600;
    }
    .logo{
        width: 30%;
        height: 35%;
        transform: translate(10%,55%);
    }
    .logo-container{
        width: 100%;
        height: 30%;
        transform: translate(6%, 1%);
    }
    .mockup{
        height: 35%;
        margin-top: 40px;
    }
    .mockup img{
        width: 150%;
    }
    .content{
        width: 100%;
        height: 80%;
        flex-direction: column;
        font-size: 15px;
        margin-bottom: 0%;
    }
    .desc{
        text-align: center;
        width: 84%;
        /* margin: 0 auto; */
    }
    .btn{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    } 
    .links{
        width: 50%;
        transform: translate(0%,-150%);
        justify-content: space-evenly;
    }
    
}