*{
    padding: 0;
    margin: 0;
}

body{
    background: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif; 
    color: hsl(217, 12%, 63%);  
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.bdr{
    border: 1px solid white;
}
.container{
    background: hsl(213, 19%, 18%);
    width: 80vw;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-size: 30px;
    font-weight: 700;
}
.image{
    margin-top: 5px;
    background: hsl(217, 12%, 24%);
    border-radius: 50%;
    padding: 10px;
}
h2,a{
    color: hsl(0, 0%, 100%);
}
.word-content{
    margin-top: 20px;
}
.word-content p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    height: 99px;
}
.rating-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}
a{
    text-decoration: none;
    text-align: center;
}
.rating-grid a{
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    padding:15px;
    background: hsl(217, 12%, 24%);
    margin-bottom: 40px;
}
.submit-btn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    background: hsl(25, 97%, 53%);
    box-shadow: 2px 5px 5px hsl(213, 19%, 15%);
    letter-spacing: 3px;
    font-weight: 700;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-align: center;
}
.submit-btn:hover{
    color: hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
}
.rating:hover{
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);
}
@media screen and (max-width: 380px){
    h2{
        font-size: 20px;
    }
    .word-content p{
        font-size: 15px;
    }
    .rating-grid{
        margin-top: 5px;
    }
    .rating-grid a{
        padding: 10px;
        margin-bottom: 30px;
    }
    .submit-btn{
        font-size: 11px;
    }
}
@media screen and (max-width: 360px){
    .word-content p{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .submit-btn{
        font-size: 14px;
    }
    .rating-grid a{
        padding: 5px;
    }
}
/* @media screen and (min-width: 1400px) {
    .container{
        width: 20vw;
        height: 48vh;
        margin: 0 auto;
    }
    h2{
        font-size: 22px;
    }
    .word-content p{
        margin-top: 10px;
        font-size: 12px;
        line-height: 20px;
        width: auto;
        height: auto;
    }
    .rating-grid{
        margin-top: 20px;
    }
    .rating-grid a{
        padding: 8px;
    }
    .submit-btn{
        font-size: 13px;
    }
} */
@media (min-width: 380px){
    .container{
        width: 350px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}   